<script id="modal-template" type="text/x-handlebars-template">
	<div id='overlay'>
	</div>
	<div id='modal'>
		<H1>Woof... You are out of bones!</H1>
		<H2>You collected {{ toys }} toys.</H2>
		<H2>Would you to start over or get more bones and keep playing?</H2>
		<button id='start_over'>Play again</button>
		<button id='get_more_bones'>Get more bones</button>
	</div>
</script>