<script id="modal-template" type="text/x-handlebars-template">
	<div id='overlay'>
	</div>
	<div id='losing-modal' class='modal loss bd-cartoon'>
		<H1>WOOF... YOU ARE OUT OF BONES!</H1>
		<div class='trophycase'>
		{{#each trophies}}
			<div class='trophy {{this}}'>
			</div>
		{{/each}}
		</div>
		<H2>YOU COLLECTED {{ toys }} TROPH{{ plural }}.</H2>
		<H2>WOULD YOU LIKE TO START OVER OR GET MORE BONES AND CONTINUE?</H2>
		<button class="oval pawprintbutton" id='start_over'>
			<div class='paw opaquen'>
				<img src="images/Paw_Print_White.png" />
			</div>
			<span>START OVER</span>
		</button>
		<button class="oval pawprintbutton" id='get_more_bones'>
			<div class='paw opaquen'>
				<img src="images/Paw_Print_White.png" />
			</div>
			<span>ADD BONES</span>
		</button>
		<div class="footer">
			<span class='st_twitter_large' displayText='Tweet'></span>
			<span class='st_googleplus_large' displayText='Google+'></span>
			<span class='st_facebook_large' displayText='Facebook'></span>
			<span class='st_instagram_large' displayText='Instagram'></span>
			<span class='st_text_large' displayText='Sms'></span>
			<span class='st_pinterest_large' displayText='Pinterest'></span>
			<span class='st_email_large' displayText='Email'></span>
			<span class='st_sharethis_large' displayText='ShareThis'></span>
		</div>
	</div>
</script>