<script id="modal-template" type="text/x-handlebars-template">
	<div id='overlay'>
	</div>
	<div id='losing-modal' class='modal loss'>
		<H1>Woof... You are out of bones!</H1>
		<div class='trophycase'>
		{{#each trophies}}
			<div class='trophy {{this}}'></div>
		{{/each}}
		</div>
		<H2>You collected {{ toys }} troph{{ plural }}.</H2>
		<H2>Would you to start over or get more bones and keep playing?</H2>
		<button class="oval hvr-glow pawprintbutton" id='start_over'>
			<div class='paw'>
				<img src="images/Paw_Print_White.png" />
			</div>
			<span>Start over</span>
		</button>
		<button class="oval hvr-glow pawprintbutton" id='get_more_bones'>
			<div class='paw'>
				<img src="images/Paw_Print_White.png" />
			</div>
			<span>Add bones</span>
		</button>
	</div>
</script>