<script id="winning-template" type="text/x-handlebars-template">
	<div id='overlay'>
	</div>
	<div id='modal'>
		<H1>AMAZING! You collected all {{ toys }} trophies{{ plural }}.</H1>
		<H2>You have unlocked the bonus stage!</H2>
		<button class="oval hvr-glow" id='start_over'>Start over</button>
		<button class="oval hvr-glow" id='get_more_bones'>Get more bones</button>
	</div>
</script>