<script id="winning-template" type="text/x-handlebars-template">
	<div id='overlay'>
	</div>
	<div id='modal'>
		<H1>AMAZING! You collected all {{ toys }} trophies{{ plural }}.</H1>
		<button class="oval hvr-glow" id='start_over'>Start over</button>
	</div>
</script>