<div class='slot_machine zone'>
	<div class='slot' id='slot1'></div>
	<div class='slot' id='slot2'></div>
	<H1 class='bone_count'>Bones: <span class='bones'>10</span></H1>
	<H1 class='win_count'>Toys: <span class='wins'>0</span></H1>
	<button type='button' id='control' class='spin'>Spin!</button>
	<H1 class='dogname'><span class='first'></span><span class='last'></span></H1>
</div>
<div class='bone_drop zone'>
</div>

<script id="bone-template" type="text/x-handlebars-template">
	<img src='bone.png' class='bone' id='bone_{{bone_id}}'>
</script>