// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "trig";
@import "wheel"; // Requires trig

$endone: 0;
$endtwo: 0;

@mixin transform($value) {
  -webkit-transform: $value;
     -moz-transform: $value;
      -ms-transform: $value;
          transform: $value;
}

.zone {
  float: left;
  height: 100vh;
  margin: 0px 50px;
}

.bone_drop, .name_carousel {
  width: 210px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
}

.name_carousel {
  position: relative;
  .needle {
    @include transform(translateY(px(2.5)) translateZ(px(1.3 * radius())));
    position: absolute;
    top: 40vh;
    z-index: 9999;
  }
  .needle:after {
    content: "";
    position: absolute;
    display: block;
    height: #{ $panelSize }px;
    width: 206px;
    background: linear-gradient(135deg, rgba(255,255,255,0.33) 0%,rgba(255,255,255,0.33) 60%,rgba(255,255,255,0) 61%,rgba(255,255,255,0) 100%);
    border: 4px solid black;
    border-radius: 20%;
    -webkit-border-radius: 20%;
  }
}

.carousel {
  @include transform(translateZ(-0px) rotateX(-0deg));
  width: 80%;
  height: #{$panelSize}px;
  position: absolute;
  top: 40vh;
  transform-origin: center;
  -webkit-transform-origin: center;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 3.2s;
  -webkit-transition: -webkit-transform 3.2s;
  -webkit-backface-visibility: hidden;
  figure {
    display: block;
    position: absolute;
    width: 178px;
    height: #{$panelSize}px;
    left: 10px;
    top: 0px;
    border: 1px solid black;
    border-left-width: 5px;
    border-right-width: 5px;
    background-color: gray;
    margin: 0px;
    text-align: center;
    line-height: #{$panelSize}px;
  }
  .match {
    background-color: rgb(135, 151, 9);
  }
  @for $i from 0 through $panelCount {
    figure:nth-child( #{$i} ) { @include transform(rotateX(deg(angle( $i - 1 ))) translateZ(px(radius()))); }
  }
}

.bone {
  width: 66px;
  position: relative;
  float: left;
}

.win_count, .bone_count, .dogname {
  text-align: center;
  margin: 0px auto;
}

button.spin {
	display: block;
	margin: 10px auto;
	width: 100px;
	height: 50px;
	font-weight: bold;
	font-size: 2em;
}

.slot {
	margin: 0px auto;
	background-image: url(image-path('SLOT_DOGS_lineup_2.jpg'));
  background-repeat: repeat-x;
	width: 432px;
	height: 300px;
}

#slot1 {
  background-position : $endone 0px;
  // animation-name: slide_one;
  // animation-duration: 5s;
  // -webkit-animation-name: slide_one;
  // -webkit-animation-duration: 5s;
}

#slot2 {
  background-position : $endtwo -300px;
  // animation-name: slide_two;
  // animation-duration: 7s;
  // -webkit-animation-name: slide_two;
  // -webkit-animation-duration: 7s;
}

.slot {
  /* Chrome, Safari, Opera */
  // -webkit-animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1); // cubic-bezier(0,.24,1,1);
  // -webkit-animation-delay: 0.05s;
  // -webkit-animation-iteration-count: 1;
  // -webkit-animation-direction: normal;
  // -webkit-animation-play-state: paused;
  /* Standard syntax */
  // animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1); // cubic-bezier(0,.24,1,1);
  // animation-delay: 0.05s;
  // animation-iteration-count: 1;
  // animation-direction: normal;
  // animation-play-state: paused;
}

@-webkit-keyframes slide_one {
    from{
        background-position: -9000px 0px;
    }
    to{
        background-position: $endone 0px;
    }
}

@-webkit-keyframes slide_two {
    from{
        background-position: -11000px -300px;
    }
    to{
        background-position: $endtwo -300px;
    }
}
