// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import "trig";
// @import "wheel"; // Requires trig
@import "_mixins";
@import "_modal";
@import "_fonts";

// Colors
$colorOffset: 5%;
$pink: rgba(255, 183, 183, 0.86);
$purple: rgba(88, 153, 255, 0.86);
$white: #FFFFFF;

// Columns
$labelsize: 15vw;
$slotsize: 40vw;
$bonedropsize: 20vw;
$trophyzonesize: 15vw;

// Dimensions
$textboxHeight: 60px;

// DOM Elements
* {
  -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

body {
  margin: 0px;
  background-image: url(image-path('DOT_TILE_PATTERN-DARK_II.gif'));
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

// Buttons
button:focus {outline:0;}

button.circle {
  @include border-radius(50%);
  background-color: darken($white, $colorOffset);
  display: block;
  margin: 10px auto;
  width: 15vw;
  height: 15vw;
  font-weight: bold;
  font-size: 2em;
}

button.oval {
  @include border-radius(4px);
  display: inline-block;
  margin: 10px auto;
  width: 200px;
  min-height: 200px;
  font-weight: bold;
  font-size: 2em;
  background: rgba(255,255,255,0);
  border: 0px;
}

button:disabled {background-color: lighten($white, $colorOffset);}

.paw {
  position: static;
  width: 100%;
  height: 150px;
  text-align: center;
  img {
    width: 150px;
    height: 150px;
    margin: 0px auto;
  }
  span {
    width: 150px;
    height: 50px;
  }
}

// Modals
#winning-modal {
  background: $pink;
  // border: 10px solid rgba(255, 183, 183, 0.95);
}

#losing-modal {
  background: $purple;
  // border: 10px solid rgba(88, 153, 255, 0.86);
}

// Atomic Classes
.block {
  display: block;
}

.big {
  font-size: 2.2em;
}

.hide {
  display: none;
}

.tracking {
  letter-spacing: 2px;
}

.zone {
  float: left;
  height: 100vh;
  margin: 0px;
}

// Text Fields
.dogname {
  .wild {
    color: rgb(190, 165, 65);
  }
  .match {
    color: #13A589;
  }
}

.text_title {
  background-image: url(image-path('Lucky_Dog_Logo.png'));
  background-repeat: no-repeat;
  width: $labelsize;
}

.win_count, .bone_count, .dogname {
  @include border-radius(4px);
  text-align: center;
  margin: 20px auto 0px;
  background-color: $white;
  width: 90%;
  height: $textboxHeight;
  line-height: $textboxHeight;
}

// Trophies
.trophies, .trophycase {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  .trophy {
    @include border-radius(5px);
    @include transition_transform(4.5s linear);
    margin: 2px;
    width: 72px;
    height: 100px;
    display: inline-block;
    background-image: url(image-path('SmallLineup.png'));
    background-repeat: no-repeat;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  @for $i from 0 through 13 {
    .trophy:nth-child( #{$i + 1} ) {
      background-position: -#{$i * 72}px 0px; }
    .earned:nth-child( #{$i + 1} ) {
      background-position: -#{$i * 72}px -100px; }
  }
}

.trophies {
  width: $trophyzonesize;
  padding-top: 2%;
  .trophy {
    z-index: -1;
  }
}

.trophycase {
  max-width: 550px;
  min-height: 100px;
  .trophy{
    display: inline-block;
  }
  .earned {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }
  img {
    width: 150px;
    height: 150px;
    margin: 0px auto;
  }
}

// Animations
/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
  from { -webkit-transform: rotateY(0deg);    }
  to   { -webkit-transform: rotateY(-360deg); }
}

/* all other browsers */
@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

// Slot Machine
.slot_machine {
  width: $slotsize;
  position: relative;
  .display, .controls {
    padding: 0px;
    position: relative;
  }
}

.dotted-border {
  border-width: 25px;
  border-style:dotted;
  -webkit-border-image-slice: 28%;
  -o-border-image-slice: 28%;
  border-image-slice: 28%;
  -webkit-border-image: url(image-path('border2.png')) 40 40 scale; /* Safari 3.1-5 */
  -o-border-image: url(image-path('border2.png')) 40 40 round; /* Opera 11-12.1 */
  border-image: url(image-path('border2.png')) 40 40 round;
}

// Bowl and Bone Drop Zone
.controls {
  position: static;
  width: 100%;
  margin: 0px auto;
}

.bone_drop {
  width: $bonedropsize;
  padding: 20px 30px; 
}

.bone_drop {
  .bowl {
    position: block;
    width: 100%;
    min-width: 240px;
    min-height: 200px;
    background-size: 100%;
    z-index: 100;
    background-repeat: no-repeat;
    margin: 160px 0px 10px;
  }
  .bowl.empty {
    background-image: url(image-path('Bowl_Empty.png'));
  }
  .bowl.half-full {
    background-image: url(image-path('Bowl-half_full.png'));
  }
  .bowl.full {
    background-image: url(image-path('Bowl_Full.png'));
  }
  .incoming {
    position: absolute;
    z-index: -1;
    width: $bonedropsize;
    height: 100vh;
  }
}

.bone {
  width: 40%;
  position: absolute;
  top: 800px;
  left: 90px;
}

.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.9);
}

.opaquen {
  opacity: 0.5;
}
.opaquen:hover, .opaquen:focus, .opaquen-glow:active {
  opacity: 1;
}

.slot {
	background-position: left top;
  background-repeat: repeat-x; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px auto;
	width: 90%;
}

#slot1 {
  background-position : 0px 0px;
  background-image: url(image-path('SLOT_DOGS_lineup_3_top.jpg'));
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#slot2 {
  background-position : 0px 0px;
  background-image: url(image-path('SLOT_DOGS_lineup_3_bottom.jpg'));
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.video {
  margin: 0px auto;
  width: 90%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: $slotsize + 'vw';
  padding: 0px;
  margin: 0px 5%;
}

video {
  @include border-radius(10px);
  display:table-cell;
  vertical-align:middle;
  position: relative;
  margin: 0px auto;
  width: 100%;
  height: 100%;
}

@import "mobile";
