<!DOCTYPE html>
<html>
<head>
  <title>Dog Machine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!--   <script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "9869092e-39c6-4150-a52e-be181b852b6e", doNotHash: true, doNotCopy: false, hashAddressBar: false, onhover: false});</script> -->
</head>
<body>

<%= yield %>

</body>
</html>
